# -------------------------------- Commands ------------------------------------
# This will execute deploy comands and setup the deployment environment
#  according to required configurations. Please do not change these unless
#  you are 100% sure what you gonna do.
# ------------------------------------------------------------------------------
commands:
    01setTimeZone:
        command: sudo ln -f -s /usr/share/zoneinfo/{{YOUR_LOCAL_ZONE}} /etc/localtime

# ---------------------------- Container Commands ------------------------------
#  Setup and config the eb container for deployment
# ------------------------------------------------------------------------------
