# -------------------------------- Commands ------------------------------------
# Add SSH Keys to Eelastic Beanstalk Environment. Should be edited really carefuly. 
# A
# ------------------------------------------------------------------------------

files:
  /home/ec2-user/.ssh/authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-rsa YOUR_PUBLIC_KEY