###################################################################################################
#### This script links the opencart folders to the EFS folders.
#### The opencart source code needs to have a real folder location for the logs, cache, downloads, images.
#### All these files are stored using AWS EFS, so we need to do a symbolic link between the EFS mounted unit and the 
#### webfolder 
###################################################################################################

container_commands:
  01-artisan-migrate:
    command: "php artisan migrate"
    cwd: "/var/app/staging/"